.construa-a-sua-lixeira {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#49b86e), color-stop(#3ea568), color-stop(#369160), color-stop(#307f58), to(#2b6c4f));
  background-image: linear-gradient(to right bottom, #49b86e, #3ea568, #369160, #307f58, #2b6c4f);
  min-height: 40vh;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  &-container {
    display: grid !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    justify-items: center !important;
  }
  &-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
    text-align: center;
    color: $branco;
    @media #{$small-and-down} {
      font-size: 3rem;
    }
  }
}

.o-que-vai-precisar {
  min-height: 80vh;
  margin-bottom: 3vh;
}

.iniciar-passo-a-passo {
  min-height: 60vh;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  &-container {
    margin: -2.5vh;
    display: grid !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    justify-items: right !important;
    @media #{$medium-and-down} {
      margin: 0;
      justify-items: center !important;
    }
  }
}

.btn-primary {
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  @extend .z-depth-4;
  &:hover {
    background: $primary-color-dark;
    @extend .z-depth-3;
  }
  &:active {
    -webkit-box-shadow: 0 !important;
            box-shadow: 0 !important;
  }
}