.landing {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#49b86e), color-stop(#3ea568), color-stop(#369160), color-stop(#307f58), to(#2b6c4f));
  background-image: linear-gradient(to right bottom, #49b86e, #3ea568, #369160, #307f58, #2b6c4f);
  min-height: 80vh;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  &-container {
    display: grid !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  &-title {
    -webkit-animation: fadeInRight .5s ease-in-out;
            animation: fadeInRight .5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    padding-bottom: 1rem;
    color: $branco;
    @media #{$small-and-down} {
      font-size: 3.5rem;
    }
  }
  &-subtitle {
    -webkit-animation: fadeInRight .5s ease-in-out;
            animation: fadeInRight .5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    color: $branco;
    @media #{$small-and-down} {
      font-size: 1.5rem;
    }
  }
  &-img {
    -webkit-animation: fadeInLeft .5s ease-in-out;
            animation: fadeInLeft .5s ease-in-out;
    display: inherit;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.o-que-e {
  min-height: 50vh;
  @media #{$small-and-down} {
    min-height: 0 !important;
  }
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  &-container {
    display: grid !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  &-img {
    width: 50%;
  }
  @media #{$medium-and-down} {
    background-size: cover;
    &-container {
      margin-top: 0;
    }
    &-img {
      width: 80%;
      padding-bottom: 2rem;
    }
  }
  @media #{$small-and-down} {
    &-img {
      min-height: 0;
      width: 40%;
    }
  }
}

.como-funciona {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2b6c4f), color-stop(#307f58), color-stop(#369160), color-stop(#3ea568), to(#49b86e));
  background-image: linear-gradient(to right bottom, #2b6c4f, #307f58, #369160, #3ea568, #49b86e);
  min-height: 70vh;
  @media #{$small-and-down} {
    min-height: 0 !important;
  }
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
}

.contador {
  min-height: 60vh;
  @media #{$small-and-down} {
    min-height: 0 !important;
  }
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  &-container {
    display: grid !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  &-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    @media #{$small-and-down} {
      font-size: 1.75rem;
      text-align: center;
    }
  }
  &-text {
    padding-bottom: 2rem;
  }
  &-numeros {
    color: $secondary-color-dark;
    font-size: 10rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    @media #{$small-and-down} {
      margin-top: 4rem;
    }
  }
}

.faca-voce-tambem {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b6c4f), color-stop(#307f58), color-stop(#369160), color-stop(#3ea568), to(#49b86e));
  background-image: linear-gradient(to bottom, #2b6c4f, #307f58, #369160, #3ea568, #49b86e);
  min-height: 80vh;
  @media #{$small-and-down} {
    min-height: 0 !important;
  }
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  & .row {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
}
